.form {
	/*padding: 30px;*/
}

.form-logo {
  height: 55px;
}

.form-header {
  height: 60px;
  padding: 20px 30px 0;
  display: flex;
  align-items: center;
}

.form-title {
  font-size: 1em;
  position: absolute;
  right: 30px;
}

.input-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px;
}

.input-half-l {
	width: 45%;
	margin: 8px 0;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #C1C1C1;
	padding: 0 10px;
}

.input-half-r {
	width: 45%;
	margin: 8px 0;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #C1C1C1;
	padding: 0 10px;
	display: inline-block;
	float: right;
}

.input-full {
	width: 100%;
	margin: 8px 0;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #C1C1C1;
	padding: 0 10px;
}

.input-full-dog {
	width: 100%;
	margin: 8px 0;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #C1C1C1;
	padding: 0 10px;
	position: relative;
}

.small {
	position: absolute;
	right: 40px;
	border: none;
}

.shareholder {
	display: flex;
	direction: row;
	align-items: center;
	width: 100%;
}

.email-border {
	border-color: #E00101;
}

.btn-full {
  	width: 100%;
	height: 35px;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid black;
	box-shadow: 0 2px 8px 5px rgba(0, 0, 0, 0.16);
	color: #00000055;
	font-size: 15px;
}

.btn-submit {
	width: 50%;
	height: 50px;
	border: none;
	border-radius: 5px;
	background-color: #FCF35C;
	margin-top: 40px;
	font-size: 15px;
	margin-left: 50%;
	transform: translateX(-50%);
	box-shadow: 0 2px 8px 5px rgba(25, 22, 12, 0.14);
	color: #2D2213;
}

.form-footer {
	position: fixed;
	bottom: 0;	
	border: 1px solid #707070;
	width: 100%;
}

.footer-title {
	text-align: center;
	color: #00000055;
}

@media(max-width:768px) {
	.input-half-l {
		width: 100%;
	}

	.input-half-r {
		width: 100%;
	}

	.btn-submit {
		width: 100%;
		margin-left: 0;
		transform: translateX(0);
	}
}
